&--bushfire {
  --background-color: #3e4b1f;

  background-color: var(--background-color);
  scrollbar-color: yellow var(--background-color);

  .row .cell .checkbox {
    appearance: none;
    text-align: center;
    vertical-align: middle;

    &::before {
      content: "🔥";
    }

    &:checked::before {
      content: "💦";
    }
  }
}
