&--fuel {
  --background-color: #1a1a1a;

  background-color: var(--background-color);
  scrollbar-color: #fdb813 var(--background-color);

  .row .cell .checkbox {
    appearance: none;
    text-align: center;
    vertical-align: middle;

    &::before {
      content: "🛢️";
    }

    &:checked::before {
      content: "⚡";
    }
  }
}
